.nav-link {
  margin: 8px;
}

.image-container {
  position: relative;
}

.overlay-card {
  position: absolute;
  top: 28%;
  left: 17%;
  transform: translate(-50%, -50%);
  background-color: #c7a58f; /* Green color */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  transition: transform 0.3s; /* Add transition for smooth effect */
}

.overlay-card:hover {
  transform: translate(-50%, -50%) scale(1.05); /* Scale up the card on hover */
}

.icon {
  display: flex; /* Use flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-right: 20px;
  width: 30px;
  height: 30px;
  color: rgb(213, 223, 232);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(243, 224, 224); /* Text color */
}

/* .box{
    width: 100%;
    height: 100px;
    background-color: #c7a58f;
}
.box-text{
    display: flex;
    text-align: center;
    justify-content: center;
    
} */
/* #btn-1 {
    position: relative;
    top: 10%;
    left: 0; 
    background-color: #eceae8;
    padding: 20px;
    width: 100px;
    height: 40px; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .container {
    display: flex;
    align-items: center;
    width: 100%;
} */

/* .box {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px; 
    background-color: rgb(160, 140, 140); 
    z-index: 1000;
} */
.box
{
    width: 100%;
    height: 80px;
    background-color: #c7a58f;
    
}
.btn-1{
    
}
